{% extends "base.html.twig" %}


{% block base_javascript %}{% endblock %}

{% block header %}
    {% include "layouts/header/_login_navbar.html.twig" %}
{% endblock %}

{% block main_class %}main main-login{% endblock %}

{% block body %}
        <h1>Mot de passe oublié</h1>
        
        {{ form_start(form) }}
        <div class="login-form">
            <div class="form-group {% if form_errors(form.email) %}is-invalid{% endif %}"> 
                {{ form_label(form.email, 'Entrez votre adresse email') }}   
                {{ form_widget(form.email, {
                    attr: {
                        class: 'form-box'
                    }
                }) }} 
                <div class="error icon-left">
                    <svg class="icon i-left i-error-red">
                        <use xlink:href="/svg/sprite.svg#error"></use>
                    </svg> 
                    {{ form_errors(form.email) }}
                </div>
            </div>  
            <div class="form-group">
                <button class="form-box" type="submit">Réinitialiser</button>
            </div>
        </div>
        {{ form_end(form) }}

{% endblock %}

