{% extends "base.html.twig" %}


{% block base_javascript %}{% endblock %}

{% block header %}
    {% include "layouts/header/_login_navbar.html.twig" %}
{% endblock %}

{% block main_class %}main main-login{% endblock %}

{% block body %}
        <h1>Créez un nouveau mot de passe</h1>
        
         {{ form_start(form) }}
        <div class="login-form">
            <div class="form-group {% if form_errors(form.newPassword) %}is-invalid{% endif %}"> 
                {{ form_label(form.newPassword, 'Entrez un mot de passe') }}   
                {{ form_widget(form.newPassword, {
                    attr: {
                        class: 'form-box'
                    }
                }) }} 
                <div class="error icon-left">
                    <svg class="icon i-left i-error-red">
                        <use xlink:href="/svg/sprite.svg#error"></use>
                    </svg> 
                    {{ form_errors(form.newPassword) }}
                </div>
            </div> 
            <div class="form-group {% if form_errors(form.passwordConfirm) %}is-invalid{% endif %}"> 
                {{ form_label(form.passwordConfirm, 'Confirmez le mot de passe') }}   
                {{ form_widget(form.passwordConfirm, {
                    attr: {
                        class: 'form-box'
                    }
                }) }} 
                <div class="error icon-left">
                    <svg class="icon i-left i-error-red">
                        <use xlink:href="/svg/sprite.svg#error"></use>
                    </svg> 
                    {{ form_errors(form.passwordConfirm) }}
                </div>
            </div>
            <div class="form-group">
                <button class="form-box" type="submit">Valider</button>
            </div>
        </div>
        {{ form_end(form) }}
        

{% endblock %}