<div class="admin-home-block js-admin-details">
    <form class="js-admin-details-form" method="POST" action="" data-entrypoint="{{ path('admin_apiUpdateDetails') }}">
        <h3 class="block-title icon-left">
            <svg class="icon i-left">
                <use xlink:href="/svg/sprite.svg#user"></use>
            </svg> 
            <span>Mes coordonnées</span>
        </h3>
        <div class="block-body details">
            <div class="block-body-field icon-left">
                <svg class="icon i-left">
                    <use xlink:href="/svg/sprite.svg#phone"></use>
                </svg> 
                <span class="admin-details-label">{{ dashboard.administrator.phone }}</span>
                <input class="admin-details-form form-box" name="phone" value="{{ dashboard.administrator.phone }}">                
            </div>
            <div class="separator"></div>
            <div class="block-body-field icon-left">
                <svg class="icon i-left i-mail">
                    <use xlink:href="/svg/sprite.svg#mail_fill"></use>
                </svg> 
                <span class="admin-details-label">{{ dashboard.administrator.email }}</span>
                <input class="admin-details-form form-box" name="email" value="{{ dashboard.administrator.email }}">                
            </div>
            <div class="separator"></div>
            <div class="block-body-field icon-left">
                <svg class="icon i-left details-fb" xmlns="http://www.w3.org/2000/svg" height="800" width="1200" viewBox="-204.79995 -341.33325 1774.9329 2047.9995">
                    <path d="M1365.333 682.667C1365.333 305.64 1059.693 0 682.667 0 305.64 0 0 305.64 0 682.667c0 340.738 249.641 623.16 576 674.373V880H402.667V682.667H576v-150.4c0-171.094 101.917-265.6 257.853-265.6 74.69 0 152.814 13.333 152.814 13.333v168h-86.083c-84.804 0-111.25 52.623-111.25 106.61v128.057h189.333L948.4 880H789.333v477.04c326.359-51.213 576-333.635 576-674.373" fill="#100f0d"/><path d="M948.4 880l30.267-197.333H789.333V554.609C789.333 500.623 815.78 448 900.584 448h86.083V280s-78.124-13.333-152.814-13.333c-155.936 0-257.853 94.506-257.853 265.6v150.4H402.667V880H576v477.04a687.805 687.805 0 00106.667 8.293c36.288 0 71.91-2.84 106.666-8.293V880H948.4" fill="#fff"/>
                </svg>
                <span class="admin-details-label">{{ dashboard.administrator.facebook }}</span>
                <input class="admin-details-form form-box" name="facebook" value="{{ dashboard.administrator.facebook }}">                
            </div>
            <div class="separator"></div>
            <div class="block-body-field icon-left city-field">
                <svg class="icon i-left">
                    <use xlink:href="/svg/sprite.svg#location_fill"></use>
                </svg> 
                <span class="admin-details-label">{{ dashboard.administrator.location | location_format }}</span>
                <input class="admin-details-form form-box js-city-suggest" 
                        name="location" 
                        value="{{ dashboard.administrator.location | location_format(true) }}"
                        autocomplete="off"
                        data-suggestvalidated="1"
                        data-x="{{ dashboard.administrator.location.x }}"
                        data-y="{{ dashboard.administrator.location.y }}"
                        data-city="{{ dashboard.administrator.location.city }}"
                        data-postcode="{{ dashboard.administrator.location.postcode }}"
                        >
                <svg class="icon i-loader">
                    <use xlink:href="/svg/sprite.svg#load"></use>
                </svg>              
            </div>
        </div>
        <div class="block-footer">
            <a class="admin-home-button add-button icon-left js-admin-details-update edit-button">
                <svg class="icon i-left i-edit">
                    <use xlink:href="/svg/sprite.svg#edit"></use>
                </svg> 
                <span>Modifier</span>
            </a>
            <div class="admin-details-form admin-details-update-controls">
                <a class="admin-home-button js-admin-details-cancel">Annuler</a>
                <button type="submit" class="admin-home-button add-button icon-left js-admin-details-submit form-submit enabled">
                    <svg class="icon i-left i-edit">
                        <use xlink:href="/svg/sprite.svg#save"></use>
                    </svg> 
                    <svg class="icon i-left i-loader">
                        <use xlink:href="/svg/sprite.svg#load"></use>
                    </svg> 
                    <span>Enregistrer</span>
                </button>
            </div>
        </div>
        <input type="hidden" name="_token" value="{{ csrf_token('update-admin-details') }}">
    </form>
</div>