{% extends "admin/admin_base.html.twig" %}

{% block breadcrumb %}
    {% include "admin/layouts/_breadcrumb.html.twig" %}
    <span class="breadcrumb-item active">Sécurité / mot de passe</span>
{% endblock %}

{% block body %}

        <h1>Modifier mon mot de passe</h1>

        {{ form_start(form) }}
        <div class="login-form">
            <div class="form-group {% if form_errors(form.currentPassword) %}is-invalid{% endif %}"> 
                {{ form_label(form.currentPassword, 'Mot de passe actuel') }}
                {{ form_widget(form.currentPassword, {
                    attr: {
                        class: 'form-box'
                    }
                }) }}
                <div class="error icon-left">
                    <svg class="icon i-left i-error-red">
                        <use xlink:href="/svg/sprite.svg#error"></use>
                    </svg> 
                    {{ form_errors(form.currentPassword) }}
                </div>
            </div>

            <div class="form-group {% if form_errors(form.newPassword) %}is-invalid{% endif %}"> 
                {{ form_label(form.newPassword, 'Nouveau mot de passe') }}
                {{ form_widget(form.newPassword, {
                    attr: {
                        class: 'form-box'
                    }
                }) }}
                <div class="error icon-left">
                    <svg class="icon i-left i-error-red">
                        <use xlink:href="/svg/sprite.svg#error"></use>
                    </svg> 
                    {{ form_errors(form.newPassword) }}
                </div>
            </div>

            <div class="form-group {% if form_errors(form.passwordConfirm) %}is-invalid{% endif %}"> 
                {{ form_label(form.passwordConfirm, 'Confirmez le mot de passe') }}
                {{ form_widget(form.passwordConfirm, {
                    attr: {
                        class: 'form-box'
                    }
                }) }}
                <div class="error icon-left">
                    <svg class="icon i-left i-error-red">
                        <use xlink:href="/svg/sprite.svg#error"></use>
                    </svg> 
                    {{ form_errors(form.passwordConfirm) }}
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="form-box">Valider</button>
            </div>
        </div>
        {{ form_end(form) }}
        
{% endblock %}

